# Virtual environment
.venv/
venv/
ENV/
env/
__pypackages__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environments variables files
.env
.env.*
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db


# Local env files
.env
.env.production

.claude

# Vector Store
vector_store/